# Instance Configuration
INSTANCE_NAME=muljax-id

# Dashboard Configuration
# Do not include the protocol (http:// or https://) in the domain name.
DASHBOARD_DOMAIN=muljax.example

# This is prefixed with vite_ to expose it to Vite properly
VITE_API_URL=https://muljax.example

# Boolean true/false, defaults to false
LOCALHOST=false

# API Configuration
# API Domain, must include the protocol (http:// or https://) in the domain name.
OIDC_ISSUER=https://muljax.example

# ------------------------------------------------------------
# SECRETS

ADMIN_BOOTSTRAP_SECRET=
# bun alchemy/oidc-key.ts
OIDC_PRIVATE_KEY=
