# Cloudflare Configuration (Required for Terraform)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=

# Instance Configuration
INSTANCE_NAME=muljax-id
# Optional custom logo URL or dist asset path (defaults to /assets/logo.svg)
INSTANCE_LOGO=

# Domain Configuration
# Do not include the protocol (http:// or https://) in the domain names.
API_DOMAIN=id-api.example.com
DASHBOARD_DOMAIN=id.example.com

# Boolean true/false, defaults to false (enables HTTP instead of HTTPS)
LOCALHOST=false

# ------------------------------------------------------------
# SECRETS

ADMIN_BOOTSTRAP_SECRET=
# Generated automatically by `bun run vars` into terraform.tfvars, or optionally specify here
OIDC_PRIVATE_KEY=
