[submodule "apps/api"]
	path = apps/api
	url = git@github.com:Muljax/api.git
[submodule "apps/dashboard"]
	path = apps/dashboard
	url = git@github.com:Muljax/dashboard.git
[submodule "apps/docs"]
	path = apps/docs
	url = git@github.com:Muljax/docs.git
[submodule "apps/cli"]
	path = apps/cli
	url = git@github.com:Muljax/cli.git
