cloudflare_account_id = "your-account-id"
cloudflare_zone_id    = "your-zone-id"

instance_name = "muljax-id"

api_domain       = "id-api.example.com"
dashboard_domain = "id.example.com"

localhost = false

admin_bootstrap_secret = "replace-me"

oidc_private_key = "replace-me"
